<nav class="navbar navbar-expand-lg  bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h4>Hello<%= current_user.email %></h4></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house-fill me-2"></i>Home</a>
        </li>
         <li class="nav-item rounded">
         <%= link_to project_attachers_path, class: "nav-link" do %>
            <i class="bi bi-file-earmark-plus"></i> Attachments Home
          <% end %>
        </li>
       
      </ul>
    </div>
  </div>
</nav><br />

<h1 align="center">New attacher</h1>
<div class="container">
  <div class="border">
    <%= render "form", attacher: @attacher %>
  </div>
</div>
<style>
.nav-item{
  background-color: white
}
.navbar-nav .nav-item:hover {
  background-color: white;
}
.navbar-brand{
  color: white
}

</style>