
<nav class="navbar navbar-expand-lg  bg-primary">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house-fill me-2"></i>Home</a>
        </li>

        <li class="nav-item rounded">
         <%= link_to new_project_path, class: "nav-link" do %>
            <i class="bi bi-clipboard2-plus-fill"></i> New Projects
          <% end %>
        </li>
        <li class="nav-item dropdown rounded">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>Profile</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Account</a></li>
            <li><%= link_to edit_user_registration_path, class: "dropdown-item" do %>  
                Edit
              <% end %></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><%= button_to  destroy_user_session_path, method: :delete, class: "dropdown-item" do %> 
              Logout 
            <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<style>
body {
  font-family: Montserrat, sans-serif;
}

.nav-item{
  background-color: white
}
.navbar-nav .nav-item:hover {
  background-color: white;
}


</style>